/* Popup container */
#chatBox{
    position: fixed;
    right: 20px;
    bottom: 130px;
}


.mybutton {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 3em;
    background-color: #a80000ad;
    color: rgb(238, 230, 230);
    border: none;
  }

@media (max-width: 600px) {
  .mybutton {
    width: calc(12vw);
    height: calc(12vw);
    font-size: 7.5vw;
    right: 15px;
    bottom: 15px;
  }
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* The actual popup (appears on top) */
  #chatBox.popup {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    margin-left: -80px;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  #chatBox.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
